@model Site01.Models.Palavra

@{
    ViewBag.title = "Tela de Cadastro";
}
@{
    Layout = "_Layout"; <!--o sistema sabe que tem que buscar na pasta ~/Views/Shared/-->
}

<form method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="@Model.ID" />
        <label for="descricao">Palavra:</label>
        <input type="text" class="form-control" value="@Model.Descricao" id="descricao" name="descricao" placeholder="Digite a palavra">
        @Html.ValidationMessage("descricao")
    </div>
    <div class="form-group">
        <label for="assunto">Nível:</label>
        <select name="nivel" class="form-control">
            @foreach (var nivel in ViewBag.Nivel)
            {
                @if (nivel.Id == Model.Nivel)
                {
                    <option value="@nivel.Id" selected>@nivel.Nome</option>
                }
                else
                {
                    <option value="@nivel.Id">@nivel.Nome</option>
                }

            }
        </select>

        @Html.ValidationMessage("nivel")
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
@ViewBag.Mensagem


