@model X.PagedList.IPagedList<Site01.Models.Palavra>

@using X.PagedList
@using X.PagedList.Mvc.Core


@{
    ViewBag.title = "Consulta Cadastro";
    var pagedList = (IPagedList)Model;
}
@{
    //Layout = "_Layout"; <!--o sistema sabe que tem que buscar na pasta ~/Views/Shared/-->
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
    if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Mensagem"]
        </div>
    }
}
@{
    if (TempData["MensagemExclusao"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MensagemExclusao"]
        </div>
    }
}

<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />

<a href="/palavra/cadastrar" class="btn btn-primary">Cadastrar</a>
<span><b>Total de Registro</b> @Model.TotalItemCount </span>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Palavra</th>
            <th scope="col">Nível</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var palavra in Model)
        {
            <tr>
                <th scope="row">@palavra.ID</th>
                <td>@palavra.Descricao</td>
                <td>@palavra.Nivel</td>
                <td>
                    <a href="/palavra/atualizar/@palavra.ID" class="btn">Editar</a>
                    <a href="/palavra/excluir/@palavra.ID" class="btn">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(pagedList, page => Url.Action("Index", new { page }))


