@model Site01.Models.Palavra

@{
    ViewBag.title = "Tela Inicial";
}
@{
    Layout = "_Layout"; <!--o sistema sabe que tem que buscar na pasta ~/Views/Shared/-->
}



<form method="post" action="/contato/ReceberContato">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
        @Html.ValidationMessage("nome")
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Digite seu e-mail">
        @Html.ValidationMessage("email")
    </div>
    <div class="form-group">
        <label for="assunto">Assunto:</label>
        <input type="text" class="form-control" id="assunto" name="assunto" placeholder="Digite o assunto">
        @Html.ValidationMessage("assunto")
    </div>
    <div class="form-group">
        <label for="mensagem">Mensagem:</label>
        <textarea type="text" class="form-control" id="mensagem" name="mensagem" placeholder="Digite sua mensagem"></textarea>
        @Html.ValidationMessage("mensagem")
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
@ViewBag.Mensagem
